*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root {
  --primary-color: #007BFF;
  --secondary-color: #0056B3;
  --background-color: #F0F8FF;
  --text-color: #FFFFFF;
  --secondary-text-color: 000;
}
body {
  min-height:100vh;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  font-family: Arial, sans-serif;
  text-align: center;
}
main{
  min-height:90vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
.square {
  color: var(--text-color);
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.square:hover {
  background-color: var(--secondary-color);
}
